.splash {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
}

img {
  opacity: 0.5;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideIn 1s ease-in-out;
  animation-fill-mode: forwards;
}
