.user-details {
  display: flex;
  flex-direction: column;
}

a {
  color: black;
}

a:hover {
  color: grey;
}

.bottom-div {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px; /* set your desired margin */
}

.side-menu-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
