<div>
  <div class="container mobile" style="margin-bottom: 20px">
      <h2 class="header bold" style="text-align: center;">Finance Partner</h2>
  </div>
  <div>
    <div class="container mobile d-flex flex-column align-items-center justify-content-center" style="margin-top: 100px;">
      <p class="bold" style="font-size: 18px; line-height: 1.2;">Achieve your financial goals with your partner</p>
      <ul style="font-size: 13px; color: #949494; line-height: 1.7; margin-bottom: 30px;">
        <li>Stay motivated and budget together</li>
        <li>View each other saving goals</li>
        <li>Your household finances all in one place</li>
        <li>Stay accountable and on track</li>
        <li>Say hello to a coordinated approach to managing your money as a couple</li>
      </ul>
      <a href="" class="btn-small-primary">Connect A Partner Account</a>
    </div>
  </div>
</div>
