<div id="<%= dom_id budget %>">
  <p>
    <%# <strong>Name:</strong> %>
    <%= budget.name %>
  </p>

  <p>
    <strong>$</strong>
    <%= budget.amount %>
  </p>

  <%# <p>
    <strong>User:</strong>
    <%= budget.user_id %>
  <%# </p> %>

</div>
