<%= render "shared/pageheader", name: "Edit Budget" %>

<div class="container mobile d-flex flex-column justify-content-center" style="margin-top: 30px;">
  <p class="bold">Edit Your Budget Details</p>
  <%= render "form", budget: @budget, categories: @categories %>
</div>
