<%= render "shared/pageheader", name: "Your Budgets" %>

<div class="container mobile d-flex flex-column justify-content-center" style="margin-top: 30px;">


  <div style="margin-top: 15px;">
    <p class="bold">Budgets</p>
  </div>

  <% @budgets.each do |budget| %>

    <% spends = 0  %>
    <% budget.categories.each do |c| %>
      <% spends += c.this_month_balance  %>
    <% end %>

    <a href="/budgets/<%= budget.id %>" method="get">
      <div style="margin-bottom: 15px;">
        <%= render "shared/categorytab", name: budget.name, balance: "#{number_to_currency(spends)}/#{number_to_currency(budget.amount)}", icon: "fa-solid fa-square-check fa-lg" %>
      </div>
    </a>
  <% end %>

</div>


<style>
  .new-category-button {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 24px 40px 16px 40px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
</style>


<div style="margin-bottom: 120px">
  <!-- this provides the margin on top of the sticky button below -->
</div>

<div class="new-category-button">
  <%= link_to "Create New budget", new_budget_path, class: "btn-small-primary" %>
</div>
