<div class="category-tab">
  <div class="category-icon">
    <i class="<%= icon %>"></i>
  </div>
  <div class="category-tab-right">
    <p class="category-tab-right-top"><%= name %></p>
    <p class="category-tab-right-btm"><%= balance %></p>
  </div>
</div>


<!-- icon (icon classes), name, balance -->
