<div class="detail-tab" style="margin-bottom: 15px;">
  <div class="detail-icon">
    <i class="<%= icon %>"></i>
  </div>
  <div class="detail-tab-right">
    <p class="detail-tab-right-top"><%= name %></p>
    <p class="detail-tab-right-btm"><%= info %></p>
  </div>
</div>

<!-- icon (icon classes), from, date, to, amount -->
