<div class="info-tab <%= bgcolor %>" style="margin-bottom: 20px;">
  <div class="info-icon">
    <i class="<%= icon %>"></i>
  </div>
  <div class="info-tab-right">
    <p class="info-tab-right-top"><%= name %></p>
    <p class="info-tab-right-btm"><%= balance %></p>
  </div>
</div>

<!-- icon (icon classes), name, balance, bgcolor (background colors = grey, orange, green) -->
