<div class="container mobile page-header" style="margin-bottom: 20px; margin-top: 30px;">
  <a href="<%= request.referer %>">
    <i class="fa-solid fa-arrow-left side-icon fa-xl"></i>
  </a>
  <h2 class="header bold" style="text-align: center;"><%= name %></h2>
  <div></div> <!-- this extra div allows the space between to work properly in 3 segments, and allows home button to be at the end-->
</div>
