

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://iili.io/HOeRnUP.jpg); background-position: center center;">
  <div class="container" style="text-align: center;">
    <h1>Stress-free financial tracking for you and your partner with <span>Uni-Fi</span>.</h1>
    <p>Where PDF import and partner connection meet for seamless financial management.</p>
    <p><strong>100% FREE.</strong></p>
    <a class="btn-small-primary" style="width: 240px; margin: auto;" href="#">Start Now</a>
  </div>
</div>

<div class="container mobile d-flex flex-column" style="margin-top: 30px;">

  <h4 style="text-align: center; margin-bottom: 24px;"> <strong>Why Choose Uni-Fi </strong> </h4>


  <div class="card-product">
    <div class="card-product-infos">
      <i class="fa-solid fa-face-smile-beam fa-3x color-green"></i>
      <h2>Take Full Control of Your Finances</h2>
      <p>With real time insights, you'll get a clear picture of where your money is going. Make <strong>better financial decisions and stay on top of your budgets</strong>.</p>
    </div>
  </div>

  <div class="card-product">
    <div class="card-product-infos">
      <i class="fa-solid fa-clock fa-3x color-green"></i>
      <h2>Save Time and Reduce Stress</h2>
      <p>With Uni-Fi's bank statement upload feature, you can easily import hundreds of transactions <strong>in a second</strong>.</p>
    </div>
  </div>

  <div class="card-product">
    <div class="card-product-infos">
      <i class="fa-solid fa-heart fa-3x color-green"></i>
      <h2>Build a Positive Financial Relationship</h2>
      <p>Manage your finances with your partner in one place, <strong>promoting transparency and reducing financial tension</strong> by tracking your spending together.</p>
    </div>
  </div>

  <%= link_to "Get Started Today", dashboard_path, class: "btn-small-primary", style: "width: 240px; margin: 0px auto 16px auto;" %>

</div>

<div class="testimonial" style="background-color: #F0F1F0;">
  <div class="card-product-infos" style="text-align: center; padding: 30px;">

    <img class="avatar-large" style="margin-top: 32px" alt="avatar-large" src="https://images.pexels.com/photos/3761521/pexels-photo-3761521.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>

    <div style="padding: 16px;">
      <i class="fa-solid fa-star fa-xl"></i> <i class="fa-solid fa-star fa-xl"></i> <i class="fa-solid fa-star fa-xl"></i> <i class="fa-solid fa-star fa-xl"></i> <i class="fa-solid fa-star fa-xl"></i>
    </div>

    <h4 style="margin-bottom: 24px;">Xavier Choo</h4>

    <p>"Absolutely a game-changer! The automatic transaction tracking has <strong>saved me literally HOURS a week!</strong> </p>
    <p>And tracking finances with my partner has helped us stay <strong>organized and conflict-free</strong>. </p>
  </div>


</div>

<div class="footer" style="">
  <div class="footer-copyright">
    <i class="fas fa-heart"></i> Uni-Fi & Le Wagon 2023
  </div>
</div>
