<div class="container mobile">
  <p>Insert back button button</p>
  <h2 class="header bold" style="text-align: center;">This is the side menu</h2>

  <div class="user-details">
    <p class="bold" style="margin-bottom: 0px; font-size: 22px;"><%= current_user.first_name %> <%= current_user.last_name %></p>
    <p class="bold" style="color: #949494; margin-bottom: 4px; font-size: 14px;">User ID: <%= current_user.id %></p>
  </div>

  <div>
    <div class="side menu">
      <div class="side-menu-tab">
        <i class="fa-solid fa-wallet side-icon"></i>
        <div class="side-menu-right">
          <p>Accounts</p>
        </div>
      </div>
      <div class="side-menu-tab">
        <i class="fa-solid fa-filter side-icon"></i>
        <div class="side-menu-right">
          <p>Categories</p>
        </div>
      </div>
      <div class="side-menu-tab">
        <i class="fa-solid fa-square-check side-icon"></i>
        <div class="side-menu-right">
          <p>Budgets</p>
        </div>
      </div>
      <div class="side-menu-tab">
        <i class="fa-solid fa-coins side-icon"></i>
        <div class="side-menu-right">
          <p>Transactions</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="side menu">
      <div class="side-menu-tab">
        <i class="fa-solid fa-heart side-icon"></i>
        <div class="side-menu-right">
          <p>Partner Settings</p>
        </div>
      </div>
      <div class="side-menu-tab">
        <i class="fa-solid fa-right-from-bracket side-icon"></i>
        <div class="side-menu-right">
          <p>Logout</p>
        </div>
    </div>
  </div>
</div>
