.btn-small-primary {
  display: block;
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: #DFFE51;
  border-radius: 8px;
  text-align: center;
  line-height: 170%;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  border: 0 !important;
}

.btn-small-primary:hover {
  color: black;
}

.btn-small-secondary {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FA8484;
  border-radius: 8px;
  text-align: center;
  line-height: 170%;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  border: 0 !important;
}

.btn-big-primary {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: #DFFE51;
  border-radius: 8px;
  text-align: center;
  line-height: 170%;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

.btn-big-secondary {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FA8484;
  border-radius: 8px;
  text-align: center;
  line-height: 170%;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

.btn-big-normal {
  display: block;
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  border: 2px solid #000;
  background: #FFFFFF;
  border-radius: 8px;
  text-align: center;
  line-height: 170%;
  font-size: 16px;
  font-weight: 600;
}
