<p style="color: green"><%= notice %></p>

<h1>Debits</h1>

<div id="debits">
  <% @debits.each do |debit| %>
    <%= render debit %>
    <p>
      <%= link_to "Show this debit", debit %>
    </p>
  <% end %>
</div>

<%= link_to "New debit", new_debit_path %>
