.mobile {
  padding: 0px 40px;
}

.white-container {
  background-color: white;
}

h1, h2, h3, p, ul, li {

}

p {
  font-size: 16px;
}

.small {
  font-size: 14px;
}

.bold {
  font-weight: 600;
}

.header {
  font-size: 22px;
}

a {
  text-decoration: none;
}

body {
  background-color: white;
}
