<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Balance:</strong>
    <% sum = 0 %>
    <% unless @transactions.nil? %>
      <% @transactions.where(category_id: category.id).each do |transaction|%>
        <% sum += transaction.amount %>
      <% end %>
    <% end %>
    <%= sum %>
  </p>

  <p>
    <strong>User:</strong>
    <%= category.user_id %>
  </p>

</div>
