<p style="color: green"><%= notice %></p>

<h1>All Transactions</h1>

<h3>History</h3>
<div id="transactions">
  <% @transactions.each do |t| %>
    <%= render "shared/transaction", transaction: t %>
    <p>
      <%= link_to "Show this transaction", t %>
    </p>
  <% end %>
</div>

<%= link_to "New transaction", new_transaction_path %>
